<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
       
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <style>
            .leave {
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 6px;
                padding-right: 10px;
                background-color: #f6f6f6;
                width: 100%;
            }

        </style>
    </head>
    <body>
        <h1>This is leave for {{leave.leaveDate}}</h1>
        <a href='/leave/'>Go back to leave</a><br>
        Start Time: {{leave.startTime}}<br>
        End Time: {{leave.endTime}}

       
        
        <script src="" async defer></script>
    </body>
</html>